* {
   font-family: Georgia, serif;
}

html {
    background-color: #F5CCA0;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 45px;
}

.center {
    background-color: #E48F45;
    border: #994D1C 4px solid;
}

.center h1 {
    text-align: center;
    margin: -5px 0px 0px 0px;
    font-size: 35px;
    border-bottom: #994D1C 4px solid;
}

.title h1 {
    text-align: center;
    background-color: #E48F45;
    border-bottom: #994D1C 4px solid;
} 
